# Test builds of the book and deploys it to GH Pages
# Based off of: https://github.com/actions/starter-workflows/blob/20496ebfca42582d0ca772172a927616bc3bcd41/pages/mdbook.yml
name: Deploy mdBook site to Pages

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
  pull_request:
    paths:
      - 'book/**'
      - '.github/workflows/deploy-gh-pages.yaml'

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install mdBook
        run: |
          cargo install mdbook

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3

      - name: Build with mdBook
        run: mdbook build book -d ../html # Note that the destination path is relative to the book source, .i.e. `./book/../html`

      - name: Upload artifact
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' }} # Don't bother uploading the artifact unless we're on master
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./html

  # Deployment job
  deploy:
    if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' }} # Only deploy the pages from master
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1