name: 'Rust: Build and Test'

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
  pull_request:
    paths:
      - 'lace/**'
      - '.github/workflows/rust-build-test.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  features:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: . -> lace/target

      - name: Install dependencies
        run: cargo install cargo-hack

      - name: Run cargo hack
        working-directory: lace
        run: cargo hack check --each-feature --no-dev-deps

  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lace

    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: . -> lace/target

      - name: Run rustfmt
        working-directory: lace
        run: cargo fmt --all -- --check

      - name: Run clippy
        working-directory: lace
        env:
          RUSTFLAGS: -C debuginfo=0
        run: |
          cargo clippy --all-features

      - name: Install audit
        run: cargo install cargo-audit

      - name: Run audit
        working-directory: lace
        # Note: Both `polars` and `arrow2` trigger this security violation
        #       due to their reliance on `chrono`, which is the ultimate source of the violation
        #       as of 2/21/23, no version of `chrono` has been published that fixes the issue
        #       and thus neither `polars` or `arrow2` can pass `audit` checks
        run: cargo audit -f Cargo.lock --ignore RUSTSEC-2020-0071

  test:
    runs-on: ${{ matrix.os }}
    needs: ["lint", "features"]
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    defaults:
      run:
        working-directory: lace

    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: . -> lace/target
    
      - name: Regen Examples
        run: cargo run -- regen-examples

      - name: Run tests
        env:
          RUSTFLAGS: -C debuginfo=0
        run: cargo test 

  semver-checks:
    runs-on: ubuntu-latest
    needs: ["features", "lint", "test"]
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          path: branch

      - name: Checkout master
        uses: actions/checkout@v3
        with:
          ref: master
          path: master

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: . -> lace/target

      - name: Install extra cargo tools
        run: cargo install cargo-semver-checks --locked

      - name: Check for semver-incompatibilities
        run: cargo semver-checks check-release --manifest-path branch/lace/Cargo.toml --baseline-root master/lace --verbose

  release:
    name: release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/rust')
    needs: ["semver-checks", "features", "lint", "test"]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - name: Publish to Crates.io
        working-directory: lace
        run:
          cargo publish --token ${CRATES_TOKEN} -p lace
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
